.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

$font-family-inter: 'Inter', sans-serif;

$font-family-lexend: 'Lexend Deca', sans-serif;

//Primary
$Very-dark-blue-main-background: hsl(233, 47%, 7%);
$Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
$Soft-violet-accent: hsl(277, 64%, 61%);
//Neutral
$White-main-heading-stats: hsl(0, 0%, 100%);
$Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

html {
    box-sizing: border-box;
    font-size: 15px;
}
*, *:before, *:after {
    box-sizing: inherit;
} 

body {
    margin: 0;
    padding: 0;
    font-family: $font-family-inter;
}

.content-flex {
    background-color: $Very-dark-blue-main-background;
    display: flex;

    .card {
        margin: 5em 1.3em;
        border-radius: 7px;
        overflow: hidden;
        background-color: $Dark-desaturated-blue-card-background;

        .cont-img {
            background-image: url("../images/image-header-mobile.jpg");
            background-color: $Soft-violet-accent;
            background-size: cover;
            background-blend-mode: overlay;
            height: 16em;
        }

        .cont-info {
            color: $White-main-heading-stats;
            text-align: center;

            h2 {
                font-size: 1.6em;
                margin-top: 1.5em;
                font-weight: 700;
                
                span {
                    color: $Soft-violet-accent;
                }
            }

            p {
                color: $Slightly-transparent-white-main-paragraph;
                padding: 0 2em;
                line-height: 1.6;
                font-family: $font-family-lexend;
            }

            .cont {
                margin-top: 3em;
                div {
                    margin: 1.7em 0;
                
                    p {
                        margin-top: -.1em;
                        text-transform: uppercase;
                        font-family: $font-family-lexend;
                        font-weight: 400;
                        color: $Slightly-transparent-white-stat-headings;

                        span {
                            font-size: 1.5em;
                            font-family: $font-family-inter;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: $White-main-heading-stats;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 500px) {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;

        .card {
            display: flex;
            flex-direction: row-reverse;
            margin: 2em 0;

            .cont-img, .cont-info {
                flex: 1;
            }

            .cont-img {
                background-image: url("../images/image-header-desktop.jpg");
                height: auto;
            }

            .cont-info {
                margin-top: 1.8em;
                text-align: left !important;

                h2 {
                    font-size: 2.5em;
                    margin: .5em .8em;
                    margin-bottom: .8em;
                    br {
                        display: none;
                    }
                }

                p {

                    span {
                        color: $White-main-heading-stats;
                    }
                }

                .cont {
                    display: flex;
                    justify-content: space-around;

                    div {
                        p {
                            font-size: .75em;

                            span {
                                font-size: 2em;
                            }
                        }
                    }
                }
            }
        }
    }
}